{{ partial:layout/section class="bg-cloud" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Ausbau" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
      
      {{ partial:components/headings/h3 title="Bodenbeläge" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>
      
      {{ partial:components/headings/h3 title="Wandbeläge und Decken" }}
      <p>Wände: Raufasertapete weiss gestrichen, in den Nasszellen, wo keine Platten vorhanden sind, Weissputz, weiss gestrichen Decken: Weissputzdecken, weiss gestrichen</p>

      {{ partial:components/headings/h3 title="Küche" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Badezimmer" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Aussenfläche" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Fenster" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Storen und Sonnenschutz" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Elektroanlagen" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Heizungs- und Trocknungsraum" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Liftanlagen" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Keller" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Waschküche und Trocknungsraum" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>

      {{ partial:components/headings/h3 title="Entsorgung" }}
      <p>Boden in Wohnung: Klötzliparkett (Monopark) Eiche, matt versiegelt<br>Nasszellen (Küchen und Waschküche UG): Feinsteinzeug- platten, unglasiert, SABAG Modico, anthrazit</p>
      
      <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
        <div>
          <a 
            href="/assets/download/adlerstrasse-basel-kurzbaubeschrieb.pdf" 
            target="_blank" 
            title="Kurzbaubeschrieb"
            class="bg-steel text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-cloud transition-all">
            <span class="block leading-none">Kurzbaubeschrieb</span>
          </a>
        </div>
        <div>
          <a 
            href="/assets/download/adlerstrasse-basel-facts-figures.pdf" 
            target="_blank" 
            title="Facts & Figures"
            class="bg-steel text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-cloud transition-all">
            <span class="block leading-none">Facts & Figures</span>
          </a>
        </div>
      </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        {{ partial:components/media/image image="adlerstrasse-basel-3" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="adlerstrasse-basel-4" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="adlerstrasse-basel-4" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="adlerstrasse-basel-4" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="adlerstrasse-basel-5" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}