{{ partial:layout/section }}
  {{ partial:components/swiper/wrapper }}
    {{ partial:components/swiper/slide image="adlerstrasse-basel-1" alt="" }}
    {{ partial:components/swiper/slide image="adlerstrasse-basel-2" alt="" }}
    {{ partial:components/swiper/slide image="adlerstrasse-basel-3" alt="" }}
  {{ /partial:components/swiper/wrapper }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
{{ partial:layout/inner }}
  {{ partial:components/headings/h1 title="Wohnen im schönen Gellert" }}
  <div class="max-w-2xl">
    <p>Die Überbauung Adlerstrasse bietet frisch sanierte 1.5- bis 5.5-Zimmerwohnungen an zentraler Lage im Gellert Quartier, Grossbasel, an. Die Wohnungen sind auf vier Häuser verteilt, die hochwertige Materialien sowie vielfältige Grundrissvarianten bieten. Zusätzlich gibt es private Aussenbereiche, Einstellplätze, Bastelräume und einen idyllischen Spielplatz im Hinterhof.</p>
    <p>Die Überbauung zeichnet sich durch ihre ideale Kombination aus städtischer Lage und attraktiver Aussenanlage aus, was Familien, junge Paare und Singles anspricht. Die Nähe zum Rhein, die gute Infrastruktur und die schnelle Anbindung an den öffentlichen Verkehr machen die Adlerstrasse zu einem attraktiven Wohnort für Menschen jeden Alters.</p>
  </div>
  <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
    <div>
      <a 
        href="/angebot" 
        title="Angebot anzeigen"
        class="bg-steel text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-cloud transition-all">
        <span class="block leading-none">Angebot</span>
      </a>
    </div>
  </div>
{{ /partial:layout/inner }}
{{ /partial:layout/section }}