{{ partial:layout/section }}
  {{ partial:components/media/visual image="adlerstrasse-basel-10" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Lage" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
      <p>Die Überbauung Adlerstrasse befindet sich im beliebten Gellert Quartier. Diese Gegend zeichnet sich durch ihr vielfältiges Angebot an Schulen, Einkaufsmöglichkeiten und Parks aus, was ideale Bedingungen für ein erfülltes Leben bietet. Der nahegelegene Rhein lädt zu sportlichen Aktivitäten ein und bietet auch die Möglichkeit für entspannte Momente im Freien. Die zentrale Lage und die naturnahen Erholungsmöglichkeiten machen die Adlerstrasse zu einem attraktiven Wohnort für Menschen jeden Alters.</p>
      <p>Der öffentliche Verkehr befindet sich in unmittelbarer Nähe und somit profitieren Sie von den sehr guten Anschlüssen. Die Basler Innenstadt ist mit dem Bus oder Tram in wenigen Fahrminuten bequem erreichbar, sodass Sie schnell und unkompliziert das Herz der Stadt erleben können. Durch die unmittelbare Nähe zur Autobahn ist die Lage auch für Automobilisten äusserst attraktiv. Die schnelle und bequeme Anbindung an das Autobahnnetz ermöglicht eine zeitsparende Anreise und eine reibungslose Anbindung an die umliegenden Städte und Regionen.</p>
        <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
          <div>
            <a 
              href="https://maps.app.goo.gl/kUiLxFCYvDFBKxpF6" 
              target="_blank" 
              title="Google Maps"
              class="bg-steel text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-cloud transition-all">
              <span class="block leading-none">Google Maps</span>
            </a>
          </div>
        </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        {{ partial:components/media/image image="adlerstrasse-basel-11" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}